<h1 id="index-page-header">All the best Portals in one place...</h1>

<div class="card-columns">
  <% @portals.each do |portal| %>
    <div class="card" >
      <%= link_to portal_path(portal) do %>
        <% unless portal.user == current_user %>
          <% if portal.cover_photo.attached? %>
            <%= cl_image_tag(portal.cover_photo.key,
              class: "card-images", height: 300, fit: :clip) %>
          <% end %>
        <% end %>
        <div id="card_details">
          <h5><%= portal.name %></h5>
          <p class="mb-3"><%= portal.description %></p>
          <p><strong>$<%= portal.price %></strong></p>
          <button class="btn btn-outline-success">Available</button>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
