<div class='show-banner'>
    <h3><%= @portal.name %></h3>

    <h5><%= @portal.description %></h5>

    <h6>$<%= @portal.price %></h6>

    <br>

    <%= link_to 'View all portals', portals_path, class: "btn btn-primary" %>
    <%= link_to 'Create booking', new_portal_booking_path(@portal), class: "btn btn-success" %>
</div>

    <div class="container">
      <div class="cards">
        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
          Rio
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/berlin)">
          Berlin
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/shanghai)">
          Shanghai
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/melbourne)">
          Melbourne
        </div>
      </div>
          <div id="map"
    style="width: 400px; height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>