<div class='show-banner'>
    <div class="portal-details">
        <h2><%= @portal.name %></h2>
        <span><%= @portal.description %></>
        <h6>$<%= @portal.price %></h6>
    </div>
    <div class="portal-buttons">
        <%= link_to 'View all portals', portals_path, class: "btn btn-primary" %>
        <%= link_to 'Create booking', new_portal_booking_path(@portal), class: "btn btn-success" %>
    </div>
</div>
    <div class="container-cards-map">
      <div class="show-cards">
        <div class="show-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
        </div>

        <div class="show-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/berlin)">
        </div>

        <div class="show-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/shanghai)">
        </div>

        <div class="show-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/melbourne)">
        </div>
      </div>
          <div id="map"
    style="width: 400px; height: 315px; border-radius: 5px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
