<h1>Portal</h1>

<h3><%= @portal.name %></h3>

<h5><%= @portal.description %></h5>

<h6><%= @portal.price %></h6>

<%= link_to 'View all portals', portals_path, class: "btn btn-primary" %>
<%= link_to 'Create booking', new_portal_booking_path(@portal), class: "btn btn-success" %>
